openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    Youth Account Management API for parents/guardians to allocate/manage funds, set spending limits, and monitor activity for youth accounts. Fully compliant with GDPR, PCI-DSS, ISO 27001. All actions logged for audit; RBAC enforced.
  contact:
    name: API Team
    email: api-team@examplebank.com
  termsOfService: https://examplebank.com/terms
servers:
  - url: https://api.examplebank.com
    description: Production
  - url: https://sandbox.api.examplebank.com
    description: Sandbox
security:
  - OAuth2: []

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.examplebank.com/oauth/authorize
          tokenUrl: https://auth.examplebank.com/oauth/token
          scopes:
            parent: Manage youth accounts
  schemas:
    DashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
      required: [youthAccountId, accountBalance, currency, recentTransactions]
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
      required: [transactionId, date, amount]
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
      required: [sourceAccountId, transferAmount, currency]
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
      required: [transferId, status, updatedBalance]
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: decimal
      required: [weeklyLimit]
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
      required: [youthAccountId, weeklyLimit, status]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
      required: [transactionId, date, amount, transactionType]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required: [transactions, pagination]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required: [page, pageSize, totalRecords]
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required: [code, message]

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get Youth Account Dashboard
      description: Returns youth account dashboard for authorized parent/guardian.
      operationId: getYouthAccountDashboard
      tags: [Dashboard]
      parameters:
        - name: youthAccountId
          in: path
          description: Youth Account ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer Funds to Youth Account
      description: Allows parent/guardian to transfer funds to youth account.
      operationId: transferFundsToYouthAccount
      tags: [FundTransfer]
      parameters:
        - name: youthAccountId
          in: path
          description: Youth Account ID
          required: true
          schema:
            type: string
      requestBody:
        description: Fund transfer details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad request (insufficient funds, invalid mapping)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error (transfer service failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set Weekly Spending Limit
      description: Set or update weekly spending limit for youth account.
      operationId: setYouthAccountSpendingLimit
      tags: [SpendingLimit]
      parameters:
        - name: youthAccountId
          in: path
          description: Youth Account ID
          required: true
          schema:
            type: string
      requestBody:
        description: Weekly spending limit
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Bad request (invalid value)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get Youth Account Transactions
      description: Get paginated transaction history for a youth account.
      operationId: getYouthAccountTransactions
      tags: [Transactions]
      parameters:
        - name: youthAccountId
          in: path
          description: Youth Account ID
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for filtering (inclusive)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for filtering (inclusive)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 1000
          description: Results per page (max 1000)
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

# Global API features
x-audit:
  description: All API actions are logged for audit, searchable, and retained for 2 years (see NFRs).
x-rbac:
  description: Role-based access (parent) enforced for all endpoints.
x-compliance:
  description: GDPR, PCI-DSS, ISO 27001 controls implemented. No card/PAN/PII/PHI data exposed via API.
