openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |-
    API for managing youth accounts, including dashboard retrieval, fund transfer, spending limits, and transaction history. Compliant with GDPR, PCI-DSS, ISO 27001.
  contact:
    name: API Lead Architect
    email: api.architect@ascend-krithi.com
servers:
  - url: https://api.ascend-krithi.com
    description: Production
  - url: https://sandbox.ascend-krithi.com
    description: Sandbox
security:
  - OAuth2: []
  - RBAC: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve consolidated youth account info
      operationId: getYouthAccountDashboard
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Bearer token for OAuth2 authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized (OAuth/RBAC)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: []
        - RBAC: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Bearer token for OAuth2 authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Invalid request/Insufficient funds/Invalid account mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: []
        - RBAC: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      operationId: setYouthSpendingLimit
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Bearer token for OAuth2 authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Invalid value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: []
        - RBAC: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      operationId: getYouthAccountTransactions
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Bearer token for OAuth2 authentication
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: []
        - RBAC: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth2/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
    RBAC:
      type: apiKey
      in: header
      name: X-Role
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
    TransactionSummary:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
      required:
        - transactionId
        - date
        - description
        - amount
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
      required:
        - sourceAccountId
        - transferAmount
        - currency
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum:
            - SUCCESS
            - FAILURE
        updatedBalance:
          type: number
          format: decimal
      required:
        - transferId
        - status
        - updatedBalance
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: decimal
      required:
        - weeklyLimit
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum:
            - UPDATED
      required:
        - youthAccountId
        - weeklyLimit
        - status
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetail'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - transactions
        - pagination
    TransactionDetail:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum:
            - debit
            - credit
      required:
        - transactionId
        - date
        - merchant
        - amount
        - transactionType
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required:
        - page
        - pageSize
        - totalRecords
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
      required:
        - code
        - message
